<div class="fixed inset-0 bg-black/40 flex items-center justify-center z-50">
  <div class="bg-[#f3dfc4] rounded-2xl shadow-xl text-center p-8 max-w-md w-full text-[#372113]">
    <div class="flex justify-center mb-4">
      <div class="bg-green-500 w-16 h-16 rounded-full flex items-center justify-center">
        <svg
          class="w-8 h-8 text-white"
          fill="none"
          stroke="currentColor"
          stroke-width="4"
          viewBox="0 0 24 24"
        >
          <path d="M5 13l4 4L19 7" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
      </div>
    </div>

    <h2 class="text-2xl font-bold mb-2">تم تأكيد الطلب!</h2>
    <p class="text-lg mb-4">{{ greeting }}</p>

    <div class="space-y-2 text-right text-sm">
      <p><strong>رقم الطلب:</strong> {{ orderNumber }}</p>
      <p><strong>رقم المحل:</strong> {{ storeNumber }}</p>
      <p class="pt-2 text-center">سيتم التواصل معك في أقرب وقت 😊</p>
    </div>

    <button
       [routerLink]="['/']"
      class="mt-6 w-full bg-[#a15d36] hover:bg-[#8c4d2e] text-white font-semibold py-2 px-4 rounded-xl transition"
    >
      العودة للرئيسية
    </button>
  </div>
</div>

